<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Cricage-HomePage
    {% block  title_block%}
    {% endblock %}
  </title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="{%static 'css/main.css'%}">
  {% block head_block %}
  {% endblock %}
</head>
<body>
  {% if not request.user.is_authenticated %}
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/home" class="brand-logo">
      <img src="{% static 'images/final.png' %}" alt="..." height="65px;" width="90px;">
      </a>
      <ul class="right hide-on-med-and-down" style="font-weight:bold";>
        <li><a href="#">Live Score</a></li>
        <li><a href="/academy">CricAge Academy</a></li>
        <li><a href="/news">CricAge News</a></li>
        <li><a href="/accounts/login">Login/Register</a></li>
      </ul>


      <ul id="nav-mobile" class="sidenav" style="font-weight:bold";>
        <li><a href="#">Live Score</a></li>
        <li><a href="/academy">CricAge Academy</a></li>
        <li><a href="/news">CricAge News</a></li>
        <li><a href="/accounts/login">Login/Register</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  {% else %}
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/home" class="brand-logo">
      <img src="{% static 'images/final.png' %}" alt="..." height="65px;" width="90px;">
      </a>
        <ul class="right hide-on-med-and-down" style="font-weight:bold";>
        <li><a href="#">Live Score</a></li>
        <li><a href="/academy">CricAge Academy</a></li>
        <li><a href="/news">CricAge News</a></li>
        <li><a href="/accounts/logout">Logout</a></li>
      </ul>


      <ul id="nav-mobile" class="sidenav" style="font-weight:bold";>
        <li><a href="#">Live Score</a></li>
        <li><a href="/academy">CricAge Academy</a></li>
        <li><a href="/news">CricAge News</a></li>
        <li><a href="/accounts/logout">Logout</a></li>
      </ul>

      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
{% endif %}
{% block body_block%}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot" style="font-weight:bold";>
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">CricAge</h1>
        <div class="row center">
          <h5 class="header col s12 light">CricAge is one stop destination for the most popular sport in the country.</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Start Scoring</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/background1.jpg'%}" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">CricAge Academy</h5>

            <p class="light">CricAge is one stop destination for the most popular sport in
                            the country. Cricket news and views, academic training,
                            sponsorship, media and production related to cricket,
                            all of these and much more are provided under one
                            roof that is Cricage.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Score Domestic Match</h5>

            <p class="light">CricAge is starting as a simple scorekeeping website for domestic crickters to keep the track of their scores.
                               And, it will act as a network for recognising cricketers for their talent and making them better with performance analytics.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">CricAge News</h5>

            <p class="light">CricAge will provide the news and motivational stories of the upcoming talent in from different state of our country. CricAge will cover domestic and district level players doing exceedingly well in cricket.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/background2.jpg'%}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>PLAYER PROFILING</h4>
          <h5>Social Media Handling , Photoshoot ,
            Video Profiling , Media Coverage</h5>
          <p class="left-align light">State and national players doing remarkably good,
                              profiling of them will be undertaken by CRICAGE,
                              which includes photoshoot, video shoot, social
                              media management, graphic work and video analyst.
                              Also interview will be lined up with print, electronic
                              and digital media on regular intervals. Through our
                              sponsorship program, players with good performance
                              will be rewarded with bat, pad, dress etc. and other
                              essential needs. </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- <h4>CRICAGE NEWS</h4>
          <h5>Stats , Views & updates</h5>
          <h5 class="header col s12 light">Owing to the popularity of the cricket there is pool
                            of websites pertaining to cricket news. However,
                            most of these new channels, newspapers and websites
                            cover only international players. Hence we have
                            unambiguously decided to cover domestic and district
                            level players doing exceedingly well in cricket, so that
                            you can get information and news about cricketers
                            from your state and confidence of the players will also
                            get boosted when their hard work will get recognized. </h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/background3.jpg'%}" alt="Unsplashed background img 3"></div>
  </div>
  {% endblock %}
  <footer class="page-footer teal">
    <div class="container" style="font-weight:bold";>
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">CricAge is team of young talents aiming to provide the best services to all passionate crickters. We are creating this as a common platform to nurture the young talent and keep in touch with their role models.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Services</h5>
          <ul>
            <li><a class="white-text" href="#!">Jobs</a></li>
            <li><a class="white-text" href="#!">Privacy Policy</a></li>
            <li><a class="white-text" href="#!">Terms of Service</a></li>
            <li><a class="white-text" href="#!">ICC Policy</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>Head Office</h5>
          <p><svg class="bi bi-geo-alt" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 002 6c0 4.314 6 10 6 10zm0-7a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
          </svg> Morti Village, Raj Nagar Extension, Ghaziabad(201003)  </p>
          <p><svg class="bi bi-envelope" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M.071 4.243a.5.5 0 01.686-.172L8 8.417l7.243-4.346a.5.5 0 01.514.858L8 9.583.243 4.93a.5.5 0 01-.172-.686z" clip-rule="evenodd"/>
            <path d="M6.752 8.932l.432-.252-.504-.864-.432.252.504.864zm-6 3.5l6-3.5-.504-.864-6 3.5.504.864zm8.496-3.5l-.432-.252.504-.864.432.252-.504.864zm6 3.5l-6-3.5.504-.864 6 3.5-.504.864z"/>
          </svg> contact@cricage.com  <br>
          <svg class="bi bi-phone" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11 1H5a1 1 0 00-1 1v12a1 1 0 001 1h6a1 1 0 001-1V2a1 1 0 00-1-1zM5 0a2 2 0 00-2 2v12a2 2 0 002 2h6a2 2 0 002-2V2a2 2 0 00-2-2H5z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M8 14a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
          </svg> 9378333435</p>
        </div>
      </div>
  <div class="row">
  <div class="col s12" align="center">
    <a href="https://www.facebook.com/TheCricAgeofficial/" target="_blank"><img src="{% static 'images/iconfinder_Facebook_1288098.png' %}" alt="..." height="50px;" width="50px;"></a>
    <a href="https://www.instagram.com/the_cricage/" target="_blank"><img src="{% static 'images/iconfinder_Instagram_1288103.png' %}" alt="..." height="50px;" width="50px;"></a>
    <a href="https://www.youtube.com/channel/UCxjp1S8mGE61nLhJT0WsXGw" target="_blank"><img src="{% static 'images/iconfinder_Youtube_1288115.png' %}" alt="..." height="50px;" width="50px;"></a>
    <a href="https://twitter.com/thecricage/" target="_blank"><img src="{% static 'images/iconfinder_Twitter_1288111.png' %}" alt="..." height="50px;" width="50px;"></a>
  </div>
</div>
    </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col s6">
              <p align="center" style="font-weight:bold";>Engined By: PapaPythonFox</p>
            </div>
            <div class="col s6">
              <p align="center" style="font-weight:bold";>Copyright &copy; 2020 | CricAge</p>
            </div>
          </div>
        </div>
    </div>
</footer>
<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  </body>
</html>
