<!DOCTYPE html>
{% extends 'blogapp/index.html'%}
{% load widget_tweaks %}
{% load static %}
{% block head_block%}
{% endblock%}
{% block  title_block%}Cricage News{% endblock%}
{% block body_block%}
<div class="container">
        <h2 class="center-align">{{ post.title }}</h2>
     </div>
     <div class="container">
        <div class="row">
           <div class="col s12">
              <hr>
              <img src="{{post.image1.url}}" class="card-img-top" alt="" height="10%" width="70%" align="center" >
              <p>{{ post.content|linebreaks }}</p>
            </div>
          </div>
          {% with comments.count as comments_count %}
  <h5>{{comments_count}} Comment{{comments_count|pluralize}}</h5>
  <h5>Commenting as {{request.user.username}}</h5>
  <hr style="width:40%;text-align:left;margin-left:30" align="left">
{% endwith %}
{% if comments %}
{% for comment in comments%}
    <h6>{{request.user.username}} on {{comment.created}}</h6>
    <p>{{comment.body|linebreaks}}</p>
    {% endfor %}
    {% endif %}
    <!-- {% if csubmit %}
    <h2>Your comment added successfully</h2>
    {% else %} -->
    <!-- {% endif %} -->
    <form  method="post">
    {% for field in form.visible_fields %}
    {% render_field field placeholder=field.label  %}
    {% endfor %}
    {% csrf_token %}
    <br><br>
    <input type="submit" class ="btn btn-primary"  value="Add Comment"><br><br><br>
    </form>

    </div>
{% endblock%}
